/*************************************/
/*              Common               */
/*************************************/

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.error{
    color: red;
    font-style: italic;
    padding-left: 10px;
    font-size: 15px;
}

/*************************************/
/*               Test                */
/*************************************/

.test-frame-red {
    border: 1px solid red;
}
.test-frame-blue {
    border: 1px solid #2f53ff;
}
.test-frame-green {
    border: 1px solid #21ff25;
}

/*************************************/
/*             Catalog               */
/*************************************/

.catalog{
    margin-top: 30px;
    margin-bottom: 10px;
}

.catalog-item{
    width: 90%;
    height: 200px;
    margin: 35px auto 0 auto;
    /*border: 1px solid grey;*/
    box-shadow: 1px 1px 4px rgba(119, 119, 119,0.5);
}

.catalog-item a{
    color: inherit;
    text-decoration: none !important;
    cursor: pointer;
    transition-duration: 0.5s;

}

.inside-item{
    height: 100%;
    max-width: 95%;
    margin: 5px auto 5px auto;
    display: flex;
    overflow-x: visible;
}

.finish-item{
    filter: brightness(40%);
}

.cover-item{
    height: 230px;
    width: 180px;
    position: relative;
    top: -20px;
    left: 30px;
    box-shadow: 1px 1px 4px rgba(119, 119, 119,0.5);
}

.cover-item img{
    height: 100%;
    width: 100%;
}

.info-item{
    height: 100%;
    width: 100%;
    padding: 20px 40px 20px 40px;
    margin-left: 50px;
}

.header-item{
    display: flex;
}

.description-item{
    text-align: justify;
    margin-top: 20px;
}

.info-item .title-book{
    margin: 0    !important;
    text-align: left !important;
    font-size: 25px;
    font-weight: bold;
}

.info-item .author-book{
    font-size: 20px;
    font-style: italic;
    margin-left: 20px;
    padding-bottom: 3px;
    align-self: flex-end;
}

.availability{

}

.return-date{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 20px;
}

.disabled-text{
    color: #a9a9a9;
}

/*************************************/
/*           User Dashboard          */
/*************************************/

.dashboard{
    min-height: 70vh;
    margin-top: 30px;
}

.info-user-container{
    min-height: 600px;
}

.dashboard-card{
    padding: 15px;
}

.dashboard-card .btn{
}

.info-user-buttons-container{
    padding-top: 50px;
    padding-left: 90px;
}

.card-user{
    box-shadow: 1px 1px 4px rgba(119, 119, 119,0.5);
    margin-bottom: 50px;
}

.picture-profil{
    height: 150px;
    width: 150px;
    margin: 10px 30px 30px;
}

.picture-profil img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.info-user{
    margin-left: 30px;
}

.info-loan-container{
    min-height: 600px;
    padding: 20px;
}

.loan-list{
    padding: 20px 0 20px 0;
}

.loan-list .header-item div:last-child{
    margin-left: auto;
}

.loan-title{
    margin-top: 20px;
}

/*************************************/
/*           Loan status css         */
/*************************************/

.outdated{
    color: red;
    margin-left: 20px;
    padding-bottom: 2px;
}
.finish{
    color: darkgrey;
    margin-left: 20px;
    padding-bottom: 2px;
}
.ongoing{
    color: limegreen;
    margin-left: 20px;
    padding-bottom: 2px;
}

.loan-button-status{
    display: flex;
    align-self: flex-end;
}

.extend-button{
    padding-right: 20px;
}
.extend-button-disable{
    color: #dcdcdc;
}

/*************************************/
/*             Dashboard             */
/*************************************/

.dashboard .action-button{
    width: 270px;
    border-radius: 20px;
    font-size: inherit;
    box-shadow: none;
    text-shadow: none;
    margin: 10px auto 10px auto;
    padding: 8px 20px;
    transition: 0.5s;
    color: #303030 !important;
    background: white !important;
    border: 1px solid #616161 !important;
}

.dashboard .action-button:hover, .dashboard .action-button:focus{
    color: #fffdf9 !important;
    background: #616161 !important;
    border: 1px solid #616161 !important;
}

/*************************************/
/*                Home               */
/*************************************/

.jumbotron-container{
    height: 75vh;
}

.jumbotron{
    height: 100%;
    width: 100%;
    position: relative;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(/image/bordeaux.jpg) center;
    background-size: cover;
    filter: brightness(40%);
}

.inside-jumbotron{
    position: relative;
}

.home-text-frame{
    padding: 20px;
    position: relative;
    height: 300px;
    border-left: 10px solid white;
    width: 70%;
    left: 50px;
    top: 300px;
}

.home-text-frame div{
    height: 100px;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}

.home-text-frame h2{
    font-size: 72px;
    font-weight: bold;
}

.home-text-frame .btn{
    background-color: transparent;
    border: 1px solid white;
    width: 30%;
    font-size: 25px;
}

.home-btn a{
    width: 30%;
}

.home-text-frame .btn:hover, .home-text-frame .btn:focus {
    text-decoration: none !important;
    outline: none !important;
    background-color: white;
    color: black;
}

/*************************************/
/*             Validation            */
/*************************************/

.account-clean input:invalid {
    border: 2px dashed red !important;
}

.account-clean input:valid {
    border: 1px solid #09e960 !important;
}
